
{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">

    <form method="POST">
        
        {% csrf_token %}
        <div class="mb-3 mt-5">
            <label class="form-label">Subject</label>
            <input type="text" name="subject" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label class="form-label">Writer</label>
            <input type="text" class="form-control" disabled value="{{user.username}}">
        </div>
        <div class="mb-3">
            <label class="form-label">Content</label>
            <textarea class="form-control" name="comment"></textarea>
        </div>
        <button type="button" onclick="create()" class="btn btn-success">create</button>
        <div id="here">
            <p>
                <input type="text" class="form-control" value="1">
            </p>
        </div>
        <button type="submit" class="btn btn-primary">WRITE</button>

    </form>

</div>


<script>
    function create(){
        a = document.getElementById("here")
        p = document.createElement("p")
        p.innerHTML = '<div class="mb-3">\
            <label class="form-label">Subject</label>\
            <input type="text" name="topic" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">\
        </div>'
        a.appendChild(p)
    }

</script>
{% endblock %}

